@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We value and respect your privacy on our website. We do not collect personal information without your consent, 
    and any information collected is used solely to enhance your experience on our platform. 
    We do not share your information with third parties without your permission. Your privacy is of the utmost importance to us.</p>


